<h3>Get a book by ISBN number!</h3>

<!-- Add Book to Database! -->
<!-- <form class="traditional">
	<ul class="errors">
	</ul>
	<label>Title:
		<input type="text" name="title" value="<%= book.escape("title") %>" >
	</label>
	<label>Author:
		<input type="text" name="author" value="<%= book.escape("author") %>" >
	</label>
	
	<input type="submit">
</form> -->
<br>
<br>

View Book by ISBN
<form class="isbn">
	<us class="errors"></us>
	<label>ISBN:
		<input type="text" name="isbn">
	</label>
	<input type = "submit" value="find book">
</form>

<a href="/#/books">Back to Index</a>