<h3>This is an Index</h3>

<p> Rendering Books: </p> 
<ul>
	<% books.each(function (book) { %>
		<li>
			<a href = '#/books/<%= book.id%>'> <%= book.escape('title') %> </a><br>
			<a href="/#/books/<%= book.id %>/edit">edit</a>
		</li>
	<% }); %>
</ul>

<a href="/#/books/new">Create new Book</a><br>
<a href="/#">Back to Primary Index</a>
